{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "clean": true,
    "check-coverage": true,
    "branches": 80,
    "lines": 80,
    "functions": 80,
    "statements": 80,
    "exclude": [
        "src/migrations/*.ts",
        "src/consts.ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "text",
        "lcovonly"
    ],
    "require": [
      "ts-node/register"
   ]
}