{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "clean": true,
    "exclude": [
        "src/migrations/*.ts",
        "src/consts.ts",
        "src/app.ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "text",
        "lcovonly"
    ],
    "require": [
      "ts-node/register"
   ]
}