a:visited {
  color: wheat;
  text-decoration: none;
}

a:link {
  color: wheat;
  text-decoration: none;
}

a:hover {
  color: wheat;
  text-decoration: none;
}

a:active {
  color: wheat;
  text-decoration: none;
}